/*--- Fonts ---*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/*--- Base ---*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, 
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
footer, header, hgroup, menu, nav, section {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
}

html,
body,
header,
#landingScreen {
    height: 100%;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 75px;
    font-weight: 700;
    line-height: 1em;
    color: rgb(255, 255, 255);
}
h2 {
    padding: 1em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 1em;
    color: rgb(0, 0, 0);
}
h3 {
    padding: 0px 0px 30px;;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5em;
    color: rgb(0, 0, 0);
}
h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5em;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}
h5 {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    line-height: 1.5em;
    color: rgb(255, 255, 255);
}
h5 a {
    color: rgb(255, 255, 255);
}
h6 {
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    line-height: 1.5em;
    color: rgb(255, 255, 255);
}
p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding-bottom: 1em;
}
p.subtitle {
    font-style: italic;
}
ul > li {
    display:inline;
}

/*--- Landing screen ---*/

#landingScreen {
    background: url('../images/landingScreenBackground.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
hr.hrLanding {
    border-top: 0.5px solid rgb(125, 125, 125);
}
.fa-chevron-circle-down {
    color: rgb(255, 255, 255);
} 

/*--- Navigation bar ---*/

.navbar {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: rgb(43, 43, 43) !important;
}
.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}
.nav-item{
    padding: 0px 25px;
}
.navbar, .navbar li a {
    color: rgb(255, 255, 255)!important; 
}
.navbar-nav li a:hover {
    color: rgb(184, 197, 253)!important;
    text-decoration: underline;
}
.navbar-nav li.active a {
    color: rgb(184, 197, 253)!important;
    text-decoration: underline;
}

/*--- Main content ---*/

.container-lg {
    width: 80%;
    padding-top: 65px;
    padding-bottom: 55px;
}

.col-4 {
    padding: 0px 20px;
}

.img-responsive {
    width: 100%;
    height: auto;
}
.img-circle {
    width: 75%;
    border-radius: 50%;
    margin-bottom: 2em;
}


a.text-link {
    color: rgb(184, 197, 253)!important;
}
.underline{
    text-decoration: underline;
    text-decoration-color:rgb(184, 197, 253);
}

/*--- Social Media ---*/

.socialmedia li {
    padding: 10px 20px;
}

.socialmedia li a {
    color: rgb(255, 255, 255)!important; 
}

.socialmedia li a:hover {
    color: rgb(184, 197, 253)!important;
}

/*--- Footer ---*/

footer {
    padding: 1em;
    font-size: 1rem;
    background-color: rgb(25, 25, 25)!important;
    color: rgb(255, 255, 255)!important;
}
footer a {
    text-decoration: underline;
    color: rgb(255, 255, 255)!important;
}
footer a:hover {
    color:rgb(184, 197, 253)!important;
}
.container-md {
    width: 80%;
    padding-top: 1em;
    padding-bottom: 1em;
}